<!--Receta batido OREO-->
{% extends "layout.html" %}

{% block content%}

<div class="media">
    <img src="https://i.ibb.co/8jdxxm7/batido-de-oreo-2.jpg" class="align-self-center mr-3 rounded-lg card"
        alt=" comida deliciosa" widht="300" height="200">
    <div class="media-body">
        <h2 class="mt-0 pacifico">Batido de galletas Oreo</h2>
        <br>
        <p class="mt-0 pacifico">Ingredientes:</p>
        1 pinta de helado de vainilla, 1 taza de leche, 10 galletas Oreo, 1 cucharada de chocolate
        </p>
        <p class="mt-0 pacifico">Preparación:</p>
        <p>Coloque el helado, la leche, 8 de las galletas Oreo y el chocolate en una licuadora, y haga un puré hasta que
            quede suave. Aplaste las galletas Oreo restantes colocándolas en una bolsa de plástico con cierre hermético
            y
            golpeándolas varias veces con un rodillo hasta que queden en trozos. Vierta los batidos en dos vasos y cubra
            cada uno con migas de galleta Oreo trituradas.
        </p>
        <p>¡Serva los batidos de inmediato, con una pajita, y disfrutar!
        </p>
    </div>
</div>

{% endblock %}