<!--Bebidas Inicio-->
{% extends "layout.html" %}

{% block content%}

<div class="zcool d-flex justify-content-center">
  <h1>Bebidas</h1>
</div>

<section>
  <div class="container mt-5 mr-5 col-md-3 inline-block" style="margin: 10em;">
    <div class="card" style="width: 18rem;">
      <img
        src="https://i.ibb.co/H4VVRjt/rsz-chris-check-out-my-soundcloud-3vm-benson-all-music-platforms-search-3vm-thanks-iv17foqnwce-unsplash.jpg"
        class="card-img-top" alt="Postres deliciosos, es un macarom!">
      <div class="card-body">
        <h5 class="card-title pacifico">NIÑOS</h5>
        <p class="card-text">Mas refrescante que Coca y Sprite juntos</p>
        <a href="{{ url_for('niñosb') }}" class="btn btn-success">Ver mas</a>
      </div>
    </div>
  </div>
  <div class="container mt-5 mr-5 col-md-3 inline-block" style="margin: 10em;">
    <div class="card" style="width: 18rem;">
      <img src="https://i.ibb.co/3Cgrz6V/rsz-scott-madore-1-wrkdjm-k4-unsplash.jpg" class="card-img-top"
        alt="Una carne MUY JUGOSA!!">
      <div class="card-body">
        <h5 class="card-title pacifico">ADULTOS</h5>
        <p class="card-text">Esto no es BA sino BC (Borrachos Conocidos)</p>
        <a href="{{ url_for('adultosb') }}" class="btn btn-success">Ver mas</a>
      </div>
    </div>
  </div>
</section>

{% endblock %}