<!--Receta de Acapulco-->
{% extends "layout.html" %}

{% block content%}

<div class="media">
    <img src="https://i.ibb.co/ns9TMt2/noche-en-mazatlc3a1n-1-1.jpg" class="align-self-center mr-3 rounded-lg card"
        alt=" comida deliciosa" widht="300" height="200">
    <div class="media-body">
        <h2 class="mt-0 pacifico">Acapulco Noche</h2>
        <br>
        <p class="mt-0 pacifico"> Ingredientes:</p>
        <p>1 cucharada de azúcar, una rodaja de naranja, cubitos de hielo, ¼ de vaso de tequila, ¼ de vaso de zumo de
            naranja, ¼ de vaso de ron blanco.
        </p>
        <p class="mt-0 pacifico">Preparación:</p>
        <p>Para su elaboración se debe mezclar en una coctelera el tequila, el ron, el zumo de naranja y los trozos de
            hielo, cerrar fuerte y agitar. Lo siguiente será pasar la naranja por los bordes y colocar la copa boca
            abajo en
            un plato con azúcar, para realizar un escarchado. Vertir la mezcla de la coctelera en la copa y listo.
        </p>
    </div>
</div>

{% endblock %}