<!--Receta Malvaviscos-->
{% extends "layout.html" %}

{% block content%}

<div class="media">
    <img src="https://i.ibb.co/85YN8xc/rsz-0d836f13187cfa3d56cabac26087e106.jpg"
        class="align-self-center mr-3 rounded-lg card" alt=" comida deliciosa" widht="300" height="200">
    <div class="media-body">
        <h2 class="mt-0 pacifico">Bebida caliente con Malvaviscos</h2>
        <br>
        <p class="mt-0 pacifico">Ingredientes:</p>
        <p>3/4 taza leche, 5 Malvaviscos o más, 10 hojas orégano, 1 clara de huevo, sal, chispitas de colores
            opcionales.
        </p>
        <p class="mt-0 pacifico">Preparación:</p>
        <p>Para hacer la crema batida ponemos la clara de un huevo a temperatura ambiente en un envase, le ponemos una
            pizca de sal y lo batimos hasta que esté listo (podemos echarle una cucharada de azúcar, es opcional)
            sabremos
            que está lista cuando tenga una consistencia firme.Para la parte líquida ponemos las 10 hojas de orégano en
            la
            leche y la ponemos a hervir, puede ser en la cocina con una olla en el en microondas con la misma taza que
            vamos
            a usar (también se le puede echar una cucharada de azúcar).Cuando haya hervida lo sacamos y le ponemos la
            crema
            batida encima, le pueden poner más malvaviscos encima para que se vea y sepa mejor.
        </p>
    </div>
</div>

{% endblock %}