<!--Receta Nachos-->
{% extends "layout.html" %}

{% block content%}

<div class="media">
    <img src="https://i.ibb.co/tsCBGkc/rsz-30769.jpg" class="align-self-center mr-3 rounded-lg card"
        alt=" comida deliciosa" widht="300" height="200">
    <div class="media-body">
        <h2 class="mt-0 pacifico">Nachos con Carne</h2>
        <br>
        <p class="mt-0 pacifico">Ingredientes:</p>
        <p>100 gramos de nachos, 150 gramos de carne molida, 100 gramos de salsa de tomate o tomate triturado, 1/2 pieza
            de cebolla, 1/2 pieza de pimiento verde o rojo, 1 pieza de jalapeño, 100 gramos de queso rallado para
            gratinar.
        </p>
        <p class="mt-0 pacifico">Preparación:</p>
        Picar finamente la cebolla y el pimiento. Sofreír en un sartén con aceite de oliva. Añadir la carne picada y
        freír hasta que quede bien cocida.Añadir la salsa de tomate, y el jalapeño partido en trozos muy pequeños y
        agregar sal al gusto.Poner en un platón o bowl los nachos y verter el contenido del sartén por encima de los
        nachos.Espolvorear el queso rallado por encima de la carne y meter en el microondas o en el horno convencional
        hasta que el queso quede fundido.
    </div>
</div>
{% endblock %}