<!--Receta Rollitos Carne-->
{% extends "layout.html" %}

{% block content%}
<div class="media">
  <img src="https://i.ibb.co/2Ygn35y/rsz-40898.jpg" class="align-self-center mr-3 rounded-lg card"
    alt=" comida deliciosa" widht="300" height="200">
  <div class="media-body">
    <h2 class="mt-0 pacifico">Rollitos de Carne y Panceta</h2>
    <br>
    <p class="mt-0 pacifico">Ingredientes:</p>
    <p>
      Paquete de Panceta Ahumado (250 g), 500 gramos de nalga de nivillo, sal, pimienta, ajo en polvo, cebolla en
      polvo,2 tazas de papa cocida y cortada en bastones, 1 taza de espinaca, 1 taza de Queso rallado, perejil picado
      (para decorar).
    </p>
    <p class="mt-0 pacifico">Preparación:</p>
    Extiende dos rebanadas de panceta ahumado sobre una tabla y coloca encima una milanesa de res.Sazona con la sal, la
    pimienta, el ajo y la cebolla en polvo. En un extremo agrega un poco de papa cocida, la espinaca y el ques
    rallado.Enrolla las milanesas a manera de rollito, si es necesario asegura con un palillo.En un sartén caliente a
    fuego medio, cocina los rollitos hasta que el tocino esté dorado y la carne cocida. Sirve de inmediato con perejil
    fresco espolvoreado.
  </div>
</div>
{% endblock %}