<!--Postres Niños-->
{% extends "layout.html" %}

{% block content%}

<div class="zcool d-flex justify-content-center">
  <h1>Postres para Niños</h1>
</div>

<section>
  <div class="container mt-5 mr-5 col-md-3 inline-block" style="margin: 10em;">
    <div class="card" style="width: 18rem;">
      <img src="https://i.ibb.co/gMjPr0j/rsz-43035.jpg" class="card-img-top" alt="Postres deliciosos, es un macarom!">
      <div class="card-body">
        <h5 class="card-title pacifico">Paletas de Frutillas</h5>
        <p class="card-text">Oh mama!!Quiero una paleta... Oh mama!!Me la han robado!!</p>
        <a href="{{ url_for('postresniños1') }}" class="btn btn-success">Ver mas</a>
      </div>
    </div>
  </div>
  <div class="container mt-5 mr-5 col-md-3 inline-block" style="margin: 10em;">
    <div class="card" style="width: 18rem;height: 23.2rem;">
      <img src="https://i.ibb.co/HDghXwY/3209.jpg" class="card-img-top" alt="Una carne MUY JUGOSA!!">
      <div class="card-body">
        <h5 class="card-title pacifico">Huesitos de Merengues</h5>
        <p class="card-text">Su sabor te estremece hasta los huesos!!</p>
        <a href="{{ url_for('postresniños2') }}" class="btn btn-success">Ver mas</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}