<!--Receta Tiramisu-->
{% extends "layout.html" %}

{% block content%}

<div class="media">
    <img src="https://i.ibb.co/mG7PsgL/rsz-42520.jpg" class="align-self-center mr-3 rounded-lg card"
        alt=" comida deliciosa" widht="300" height="200">
    <div class="media-body">
        <h2 class="mt-0 pacifico">Tiramisu</h2>
        <br>
        <p class="mt-0 pacifico">Ingredientes:</p>
        <p>5 yemas de huevo, 1/2 taza de azúcar glass para las yemas, 2 cucharadas de vino dulce, 1 pieza de ralladura
            de
            naranja, 2 paquetes de queso mascarpone (226 g c/u) batido previamente un poco, para que esté suave, 5
            claras de
            huevo, 1 pizca de sal, 1 paquete de soleta, 1 taza de café espresso frío, 2 cucharadas de vino dulce, 1/2
            taza
            de cocoa para decorar.
        </p>
        <p class="mt-0 pacifico">Preparación:</p>
        <p>Para la crema: bate las yemas con el azúcar, 2 cucharadas de vino dulce y la ralladura de naranja por 5
            minutos,
            debes obtener una consistencia esponjosa y tersa. Luego mezcla de manera envolvente con el queso mascarpone
            y
            reserva.
        </p>
        <p>Aparte, bate las claras con la pizca de sal por 5 minutos, hasta que doblen su volumen (punto de turrón) y
            añádelas de forma envolvente a la mezcla de queso mascarpone. Reserva.
        </p>
        <p>Mezcla el café con el vino y reserva.Remoja las soletas en el café y acomódalas en un molde formando una
            base,
            para después cubrirla con la crema de mascarpone. Repite el proceso hasta llenar el molde, cubre por
            completo
            con crema y refrigera.Decora con cocoa espolvoreada, corta una rebanada, sirve y disfruta.
        </p>
    </div>
</div>
{% endblock %}