<!--Receta Paletas frutillas-->
{% extends "layout.html" %}

{% block content%}

<div class="media">
    <img src="https://i.ibb.co/gMjPr0j/rsz-43035.jpg" class="align-self-center mr-3 rounded-lg card"
        alt="comida deliciosa" widht="300" height="200">
    <div class="media-body">
        <h2 class="mt-0 pacifico"> Paletas de Frutillas</h2>
        <br>
        <p class="mt-0 pacifico">Ingredientes:</p>
        <p>
            2 tazas de frutillas,2 tazas de Cream Chantilly, 1 taza de crema ácida, 1/2 taza de jarabe tres leches
            Chantilly, frutillas para decorar, hielo para presentar, menta para decorar.
        </p>
        <p class="mt-0 pacifico">Preparación:</p>
        <p>
            En una tabla, corta las frutillas en cubitos. Bate en una batidora de mano cream Chantilly hasta que
            duplique su volumen, añade de manera envolvente la crema ácida, el Jarabe de Tres Leches Chantilly y las
            frutillas.Vierte en moldes para paletas y congela por 6 horas, o bien, hasta que estén congeladas.Coloca en
            una charola con hielos, fresas y menta. Disfruta con toda tu familia.
        </p>
    </div>
</div>

{% endblock %}