<!--Receta Lemon Pie-->
{% extends "layout.html" %}

{% block content%}

<div class="media">
    <img src="https://i.ibb.co/FJf4VGN/lemon-pie-1-1.jpg" class="align-self-center mr-3 rounded-lg card"
        alt=" comida deliciosa" widht="300" height="200">
    <div class="media-body">
        <h2 class="mt-0 pacifico">Lemon Pie</h2>
        <br>
        <p class="mt-0 pacifico">Ingredientes:</p>
        <p>
            2 huevos,1/4 de taza de jugo de limón, 1 lata de leche condensada, 1 barra de manteca, 200 gramos de galleta
            pulverizadas, 4 cucharadas de azúcar, 1/2 cucharadita de vainilla.
        </p>
        <p class="mt-0 pacifico">Preparación:</p>
        <p>Masa de Galleta: Se colocan los 200gr de galleta previamente pulverizada en un recipiente.Luego se derrite la
            manteca y se le agrega a la galleta y se mezcla uniformemente hasta hacer una masa. Se aplasta la masa
            contra el pyrex (con un vaso, una cuchara) hasta que quede firme en el pyrex.
        </p>
        <p>Relleno del Pie: Luego en la licuadora se colocan las 2 yemas de huevos (amarillos), junto con la leche
            condensada y 1/4 taza de jugo de limón. Se licua a alta velocidad por 2 min hasta que quede homogénea la
            mezcla. El limón puede variar depende de la acidez de los limones, la mezcla debe quedar un poquito ácida
            para compensar el dulce del merengue.
        </p>
        <p>Merengue: Con una batidora de mano batir las claras de huevo hasta formar picos. Agregar el azúcar y la
            vainilla.
        </p>
        <p>Ensamble del Pie: se coloca el relleno del Pie sobre la masa, luego se agrega el merengue (idealmente con una
            manga para que queden suspiros) o se le da forma de picos con un tenedor. Se hornea en Broil por 3 min hasta
            que
            el merengue tenga toques dorados. Se deja enfriar y se coloca en la nevera por lo menos 2 horas antes de
            servir.
        </p>
    </div>
</div>

{% endblock %}