<!--Receta Huesitos de merengues-->
{% extends "layout.html" %}

{% block content%}

<div class="media">
    <img src="https://i.ibb.co/HDghXwY/3209.jpg" class="align-self-center mr-3 rounded-lg card" alt=" comida deliciosa"
        widht="300" height="200">
    <div class="media-body">
        <h2 class="mt-0 pacifico">Huesitos de Merengues</h2>
        <br>
        <p class="mt-0 pacifico">Ingredientes:</p>
        <p>
            4 huevos,1 taza de azúcar refinada,1 pizca de cremor tártaro, 1/2 cucharada de esencia de vainilla, 20
            piezas de galleta oreo.
        </p>
        <p class="mt-0 pacifico">Preparación:</p>
        <p>
            En un recipiente hondo y grande, coloca las claras de huevo y empieza a batir rápidamente con una batidora
            eléctrica.Agrega el azúcar y el cremor tárataro, y continúa batiendo hasta que se formen picos.Precalienta
            el horno a 120 °C y prepara dos charolas con papel encerado.Coloca el merengue en una bolsa pastelera y haz
            los huesos sobre el papel encerado. El truco es hacer dos bolitas, el palo y terminar con otras dos bolitas.
            Hornea los merengues por 1 hora o hasta que tengan consistencia.Muele las galletas en un procesador de
            comida.Retira los merengues del horno y permite que se enfríen antes de armar tu plato.
        </p>
    </div>
</div>
{% endblock %}